body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  width: 800px;
  margin: auto;
}

body h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 35px;
  color: #423F37;
}

body h4 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: #423F37;
}

body a {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #1177DD;
}

.date {
  color: #888;
}

#contacts {
  padding: 0px;
  padding-left: 20px;
  list-style: none;
}

#posts {
  padding: 0px;
  padding-left: 20px;
}

#talks {
  padding: 0px;
  padding-left: 20px;
}

#projects {
  padding: 0px;
  padding-left: 20px;
}

#photo_sets {
  padding: 0px;
  padding-left: 20px;
}

#footer {
  font-style: italic;
  text-align: center;
  padding: 20px 0 30px 0;
}

.gray {
  color: #666;
}
