body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  width: 800px;
}

body h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 35px;
}

body a {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #1177DD;
}

.date {
  font-style:italic
}

#contacts {
  padding: 0;
  margin: 0;
}

#contacts li {
  list-style-type:none;
  padding: 4px;
}

#posts {
  padding: 0px;
  padding-left: 20px;
}

#talks {
  padding: 0px;
  padding-left: 20px;
}

#photo_sets {
  padding: 0px;
  padding-left: 20px;
}

.skype {
  background: transparent url("../images/skype.ico") no-repeat;
  padding-left: 20px;
}

.gmail {
  background: transparent url("../images/gmail.ico") no-repeat;
  padding-left: 20px;
}

.linkedin {
  background: transparent url("../images/linkedin.ico") no-repeat;
  padding-left: 20px;
}

.careers {
  background: transparent url("../images/careers.ico") no-repeat;
  padding-left: 20px;
}

.stackoverflow {
  background: transparent url("../images/stack.ico") no-repeat;
  padding-left: 20px;
}

.twitter {
  background: transparent url("../images/twitter.ico") no-repeat;
  padding-left: 20px;
}

.flickr {
  background: transparent url("../images/flickr.ico") no-repeat;
  padding-left: 20px;
  background-size: 16px 16px;
}

.github {
  background: transparent url("../images/github.ico") no-repeat;
  padding-left: 20px;
}